.bounty-results {
  width: 100%;
  min-width: 20rem;
  max-width: 27.5rem;

  display: flex;
  flex-direction: column;
  gap: .5rem;

  max-height: 100%;
  overflow-y: auto;
}

.bounty-results .card {
  padding: 1rem;
  background-color: #fff;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  box-shadow: 0px 6px 12px -4px #75747020;
}