.bounty-card-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 2rem;
  row-gap: 3rem;
  height: fit-content;

  padding: .5rem .25rem .5rem .25rem;

  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}