.bounty-card-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  height: fit-content;

  padding: 0 .25rem .5rem .25rem;

  max-height: 100%;
  overflow: visible auto;
}