.filter button {
  background-color: #fff;
  border: 1px solid #948F8B20;
  padding: .5rem 1rem;
  border-radius: 1rem;

  box-shadow: 0px 3px 8px -1px #5E5D5920;
  transition: .25s;
  cursor: pointer;
  font-size: .85rem;
}

.filter button:hover {
  background-color: #f8f8f7;
  border: 1px solid #948F8B50;
  box-shadow: 0px 0px 0px 0px #5E5D5910;
}