nav {
  display: grid;
  grid-template-columns: 3.75rem 1fr 25rem;
  align-items: center;
  gap: .25rem;

  background-color: #fff;
  border-radius: 12px;
  padding: .5rem 1rem;
  
  box-shadow: 0px 6px 12px -4px #948F8B20;
  
}

nav img {
  height: 2.5rem
}

::placeholder {
  color: #A8A39F;
}

nav input {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: .5rem 1rem .4rem 2.75rem;
  background-color: #F7F5F4;
  border: 1px solid #dfd9d8;
  border-radius: 8px;
  font-size: 1.125rem;

  width: 100%;
}

input:focus {
  outline: 1.5px solid #dfd9d8;
}

nav .input-wrapper {
  position: relative;
}

nav .input-wrapper button {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);

  content: "";
  background-image: url("/icons/search.svg");
  height: 1rem;
  width: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

input[type="search"]::-moz-search-clear {
  display: none;
}